:root {
  --secondary-gray: #31353b;
  --light-gray: #43464e;
  --primary-gray: #2c2f36;
  --dark-gray: #272a30;
  --text-gray: #b3b3b3;

  --primary-green: #1f9c55;

  --text-blue: #51a0d7;

  --dark: #1c1e23;
}
